<div class="d-flex align-items-center justify-content-center" style="height: 100%;">
    <div class="col-md-2">
        <a [routerLink]="['/', 'categories']">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../../assets/cards/Cards-02.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="card-title">Category Management</p>
                    <p class="card-description">Manager your categories</p>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
    <div class="col-md-2">
        <a [routerLink]="['/', 'devices']">
            <mat-card class="example-card">
                <img mat-card-image src="../../../../../assets/cards/Cards-01.png" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="card-title">Devices Management</p>
                    <p class="card-description">Manager your devices</p>
                </mat-card-content>
            </mat-card>
        </a>
    </div>
</div>

